// Variables
// -------------------------------------------------------

// header
// -------------------------------------------------------
.header {
    background-color: var(--navy-blue);
    color: var(--light);
    position: sticky;
    padding: var(--double-gutter) 0;
    text-align: center;
    top: 0;
    z-index: 1;
}

// title
// -------------------------------------------------------
.title {
    margin: 0;
}

// loading
// -------------------------------------------------------
.loading {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 32px;
    min-height: 100vh;
}

// footer
// -------------------------------------------------------
.footer {
    background-color: var(--dark);
    color: var(--error-friendly);
    padding: var(--double-gutter) 0;
    text-align: center;
}
